body{
    display:flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 800px;
    
}

.dollar div{

    align-items: center;
    justify-content: center;
    
    position: relative;
    height: 70px;
    width: 70px;
    background-color:red;
    transform:rotate(-45deg);
    box-shadow: -10px 10px 90px red;
    animation :dollar 0.6s linear infinite;
    
}

.dollar div::before{

    content:"";
    position: absolute;
    top: -40px;
    height: 70px;
    width: 70px;
    background-color:red;
    border-radius: 50px;
    box-shadow: -10px -10px 90px red;
}

.dollar div::after{

    content:"";
    right: -50%;
    position: absolute;
    height:70px ;
    width: 70px;
    background-color:red;
    border-radius: 50px;
    box-shadow: 10px 10px 90px red;

}

h1{
    color:white;
    animation:myFont 2s linear infinite;
}

@keyframes dollar {

    0%{transform:rotate(-45deg) scale(1.07) ;}

    80%{transform:rotate(-45deg) scale(1.0);}

    100%{transform:rotate(-45deg) scale(0.8);}

    
}

@keyframes myFont{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

    
