.sidebar {
    position: fixed;
    top: 0;
    left: -1000px;
    width: 1000px;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar.open {
    left: 0;
    width: 100%;

  }
  
  #toggleButton {
    position: fixed;
    top: 35%;
    left: 0px;
    height: 30%;
    width: 20px;
    border: none;
  }
  
  .class1 {
    color: white;
    height: 30%;
    top: 35%
  }
  
  .class2 {
    color: black;
    height: 100%;
    top: 0%;
  }
  