.centered-text h1{
  color: #f1f1f1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw; /* Adjust the font size as needed */
  font-weight: bold; /* Optional: Adjust the font weight */
}

.icon
{
  color: white;
}
/*///////////////////////////////////////////////////////////////////*/
.login-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e91e63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9998;
}

.signup-button {
  position: absolute;
  top: 20px;
  left: 120px;
  background-color: #4fc3dc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9998;
}

/*//////////////// click effect */


.click-effect {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4fc3dc; /* Initial color */
  transform: translate(-50%, -50%);
  animation: ripple 0.5s linear;
  pointer-events: none;
  z-index: 10000000;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.sidebar {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
/**/
/**/

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar.open {
  left: 0;
  width: 100%;
  height: 100%;
}


#toggleButton {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 912312312999;
  align-items: center;
  justify-content: center;
  transform: translateZ(1px);
  transform: translate3d(0, 0, 1px);
}

#certificationButton {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 35px;
  right: 60px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  transform: translateZ(1px);
  transform: translate3d(0, 0, 1px);
}
  
  .class1 {
    color: white;
    height: 100%; /* change to 30. */
    top: 0; /* change to 35 .*/
  }
  
  .class2 {
    color: white;
    height: 100%;
    /* top: 0; */
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the dropdown button */
  .dropdown .dropdown-btn {
    color: 000;
    padding: 7%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    overflow-y: auto;
  }

  /* Style the dropdown options */
  .dropdown-content a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    z-index:10000000000;
  }

  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown.show .dropdown-content {
    display: block;
    z-index: 10000000000000000000;
    overflow-y: auto;
    max-height: 400%;
  }

  .free-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #f1f1f1;
    overflow-y: auto;
  }
  
  .free-content-button {
    display: block;
    margin: 5px 0; /* Adjust the value as per your desired spacing */
    padding: 12px;
    text-decoration: none;
    color: #000;
    background-color: fff; /* Set the background color to red */
    border: none;
    cursor: pointer;
  }
  
  .free-content-button:hover {
    background-color: #ccc; /* Darker red on hover, adjust as needed */
  }
  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to center vertically */
    text-decoration: none;
    min-width: 60px;
    min-height: 40px;
  }
  
  .home-btn:hover {
    background-color: #ccc;
  }
  