*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background: #09111d;
    overflow: hidden;
}

.particles
{
    left: 6%;
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.particles span
{
    position: relative;
    bottom: 30px;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    -100px 0 #4fc3dc99,
    100px 0 #ff2d7599;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s ease infinite;
    animation-duration: calc(125s / var(--i));
}

.particles span:nth-child(even)
{
    background: #ff2d7599;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    -100px 0 #4fc3dc99,
    100px 0 #4fc3dc99;
}

@keyframes animate
{
    0%
    {
        transform: translateY(120vh) scale(0) rotate(0deg);
    }
    20%
    {
        transform: translateY(100vh) scale(1) rotate(0deg);
    }
    100%
    {
        transform: translateY(-50vh) scale(0.5) rotate(360deg);
    }
}

footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

footer{
    z-index: 9998;
    background-color:red;
    position: absolute;
    display: flex;
    background-color: transparent;
    left: 0px;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



div footer a{
    width: 50px;
    height: 110px;
    padding: 5px;
    
    
}

footer i{
    color: white;
}

div footer a:hover{
    color: aqua;
    width:50px;
    height:110px;
    display: block;
    transform:translateY(-20px);
    animation:animate3  ease-in-out 2s 1;
    
    
}

i{
    color: black;
}
li a i{
    color : black;
}

@keyframes animate3
{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes animate5 {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

