*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#212121,#212121 50%,#323232,#323232 50%);
}

body::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg,#1DA1F2,#1DA1F2 50%,transparent,transparent 50%);
    animation:animate5 5s ease-in-out infinite;
}
footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

footer{
    z-index: 9998;
    background-color:red;
    position: absolute;
    display: flex;
    background-color: transparent;
    left: 0px;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



div footer a{
    width: 50px;
    height: 110px;
    padding: 5px;
    
    
}

footer i{
    color: white;
}

div footer a:hover{
    color: aqua;
    width:50px;
    height:110px;
    display: block;
    transform:translateY(-50px);
    /*animation:animate3  ease-in-out 3s 1;*/
    
    
}

i{
    color: black;
}
li a i{
    color : black;
}

@keyframes animate3
{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100px);
    }
}

@keyframes animate5 {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media screen and (max-width: 300px) {
    .w3-sidebar {
      width: 40%;
    }
  }

  @media screen and (min-width: 1000px) {
    .w3-sidebar {
      width: 20%;
    }
  }

  @media screen and (max-width: 400px) {
    .w3-sidebar {
        width: 40% !important;
  overflow-x : scroll;
    }

}
@media screen and (mix-width: 600px) {
.w3-sidebar {
  width: 40% !important;
  overflow-x : scroll;
    }

}

@media screen and (min-width: 700px) {
.w3-sidebar {
  width: 20% !important;
  overflow-x : scroll;
    }

}

@media screen and (min-width: 1000px) {
.w3-sidebar {
  width: 20% !important;
  overflow-x : scroll;
    }
}